## Import libraries

In [1]:
import requests
import pandas as pd
from datetime import datetime, timedelta, timezone

## Connect Subgraph
1. Define URL: "https://api.studio.thegraph.com/query/75401/aave-v3-arbitrum-project/version/latest"
2. Define run_query function

In [2]:
# Define the GraphQL endpoint
SUBGRAPH_URL = "https://api.studio.thegraph.com/query/75401/aave-v3-arbitrum-project/version/latest"

In [3]:
# Function to run a query
def run_query(query):
    response = requests.post(SUBGRAPH_URL, json={'query': query})
    if response.status_code == 200:
        return response.json()
    else:
        raise Exception(f'Query failed. Return code is {response.status_code}. {query}')

## Locate Arbitrum Chain Block Number
1. Define function to get the last block of every hour, from `Start Time` to `End Time`
2. Given block `End Time` at the hour marker (00:00) in UTC
3. Define `Start Time` as 1 hour before `End Time`

In [4]:
# Function to get the closest blocks for every hour within a datetime range
def get_closest_block_of_every_hour(start_time, end_time):
    current_time = start_time
    blocks = []

    while current_time <= end_time:
        query = f"""
        {{
          blocks(first: 1, orderBy: timestamp, orderDirection: desc, where: {{timestamp_lte: "{int(current_time.timestamp())}"}}) {{
            number
            timestamp
          }}
        }}
        """
        result = run_query(query)
        if 'errors' in result:
            raise Exception(f"GraphQL query failed with errors: {result['errors']}")
        if 'data' in result and 'blocks' in result['data'] and result['data']['blocks']:
            block = result['data']['blocks'][0]
            block_info = {
                'block_number': block['number'],
                'timestamp': datetime.utcfromtimestamp(int(block['timestamp'])).strftime('%Y-%m-%d %H:%M:%S')
            }
            # Avoid duplicates
            if not blocks or blocks[-1]['block_number'] != block_info['block_number']:
                blocks.append(block_info)
        current_time += timedelta(hours=1)

    return pd.DataFrame(blocks)

In [5]:
# Determine the desire time as the end_time at the hour marker (00:00) in UTC
end_time = datetime(2022, 4, 20, 22, 0, tzinfo=timezone.utc)

# Define start_time as end_time minus an hour
start_time = end_time - timedelta(hours=1)  

# Get closest blocks for start_time and end_time
closest_blocks = get_closest_block_of_every_hour(start_time, end_time)
start_block_number, end_block_number = int(closest_blocks['block_number'][0]), int(closest_blocks['block_number'][1])

# Print blocks information
print(closest_blocks)

  block_number            timestamp
0     10211801  2022-04-20 20:59:53
1     10214338  2022-04-20 21:59:07

##  Fetch the latest hour UserTokenSnapshots
1. Fetch the latest UserTokenSnapshots (max 5000 transactions)
2. Get the `distinct` UserTokenSnapshots from all latest UserTokenSnapshots
3. Convert the data to a pandas DataFrame
4. Save as CSV files

In [6]:
# Fetch the latest UserTokenSnapshots (max 5000 transactions) for each UserToken up to the specific block number
def get_latest_user_token_snapshots(start_block_number, end_block_number):
    all_snapshots = []
    has_more = True
    skip = 0
    first = 1000  # Number of results to fetch per request
    max_skip = 5000  # Maximum value for skip

    while has_more:
        query = f"""
        {{
          userTokenSnapshots(
            where:{{blockNumber_lte: {end_block_number},
                    blockNumber_gt: {start_block_number}}},
            orderBy: blockNumber,
            orderDirection: desc,
            first: {first},
            skip: {skip}) {{
            id
            userToken {{
              id
              user {{
                id
              }}
              token {{
                id
                symbol
                decimals
              }}
            }}
            event
            totalSupplied
            totalBorrowed
            netSupplied
            blockNumber
            blockTimestamp
          }}
        }}
        """
        
        result = run_query(query)
        snapshots = result['data']['userTokenSnapshots']
        all_snapshots.extend(snapshots)
        
        if len(snapshots) < first:
            has_more = False
        else:
            if skip + first >= max_skip: # Break if number of transactions is greater than 5000
                break
            else:
                skip += first

    return all_snapshots

In [7]:
# Get the distinct UserTokenSnapshots for each UserToken from all UserTokenSnapshots
def get_distinct_latest_snapshots(start_block_number, end_block_number):
    snapshots = get_latest_user_token_snapshots(start_block_number, end_block_number)
    unique_snapshots = {}
    
    for snapshot in snapshots:
        user_token_id = snapshot['userToken']['id']
        if user_token_id not in unique_snapshots:
            unique_snapshots[user_token_id] = snapshot
    
    return list(unique_snapshots.values()), snapshots

In [8]:
# Convert the data to a pandas DataFrame
def snapshots_to_dataframe(snapshots):
    data = []
    for snapshot in snapshots:
        user_token = snapshot['userToken']
        data.append({
            "block_number": snapshot['blockNumber'],
            "timestamp": pd.to_datetime(int(snapshot['blockTimestamp']), unit='s'),
            "owner_address": user_token['user']['id'],
            "token_symbol": user_token['token']['symbol'],
            "token_address": user_token['token']['id'],
            "token_amount": int(snapshot['netSupplied'])/(10 ** user_token['token']['decimals']),
            "last_event": snapshot['event']
            # "total_supply": int(snapshot['totalSupplied'])/(10 ** user_token['token']['decimals']),
            # "total_borrow": int(snapshot['totalBorrowed'])/(10 ** user_token['token']['decimals'])
        })
    df = pd.DataFrame(data)
    return df

In [9]:
# Fetch the UserTokenSnapshots for each UserToken up to the specific block number
latest_snapshots, all_snapshots = get_distinct_latest_snapshots(start_block_number, end_block_number)

# Convert to DataFrame
df = snapshots_to_dataframe(latest_snapshots)
all_df = snapshots_to_dataframe(all_snapshots)

In [10]:
# Save to CSV files
df.to_csv("user_token_snapshots_latest5000_distinct.csv", index=False)
all_df.to_csv("user_token_snapshots_latest5000.csv", index=False)

## Example Result of 2022/04/20 22:00
1. all_df: the latest UserTokenSnapshots (max 5000 transactions)
2. df: the distinct UserTokenSnapshots from all_df

In [11]:
# Example: Latest UserTokenSnapshots (max 5000 transactions)
all_df

,block_number,timestamp,owner_address,token_symbol,token_address,token_amount,last_event
0,10214319,2022-04-20 21:59:07,0xfff59e1d0a0094b3f0c98aa93076beada38e2709,USDC,0xff970a61a04b1ca14834a43f5de4533ebddb5cc8,0.000017,Interest
1,10214319,2022-04-20 21:59:07,0xffd25c6ad9ff2495021dc38cea14758c8279301d,USDC,0xff970a61a04b1ca14834a43f5de4533ebddb5cc8,49.995831,Interest
2,10214319,2022-04-20 21:59:07,0xff12e4db86c84310754430b4002b27402a9150c7,USDC,0xff970a61a04b1ca14834a43f5de4533ebddb5cc8,-10000.000000,Interest
3,10214319,2022-04-20 21:59:07,0xfee851da79f8b502a16930a74886fb3526937c66,USDC,0xff970a61a04b1ca14834a43f5de4533ebddb5cc8,-0.000002,Interest
4,10214319,2022-04-20 21:59:07,0xfeaf9bb0cfdde88fa8e7fa4a9a0161268f5ebf15,USDC,0xff970a61a04b1ca14834a43f5de4533ebddb5cc8,6269.002202,Interest
...,...,...,...,...,...,...,...
4995,10212076,2022-04-20 21:06:27,0x52be8ac37597fc32456fc9dcd5d12a97006389ed,WETH,0x82af49447d8a07e3bd95bd0d56f35241523fbab1,0.090000,Interest
4996,10212076,2022-04-20 21:06:27,0x52999b551194406fb888fb425c88e2885911a506,WETH,0x82af49447d8a07e3bd95bd0d56f35241523fbab1,0.090000,Interest
4997,10212076,2022-04-20 21:06:27,0x5285e889c3cd2898fa57451456da532539c86fab,WETH,0x82af49447d8a07e3bd95bd0d56f35241523fbab1,0.025000,Interest
4998,10212076,2022-04-20 21:06:27,0x5279d69d3d9392bf0ce5bb37707cf08761b7a575,WETH,0x82af49447d8a07e3bd95bd0d56f35241523fbab1,0.090000,Interest
4999,10212076,2022-04-20 21:06:27,0x523ef27e2533a93b16a1621481ea2cad23651835,WETH,0x82af49447d8a07e3bd95bd0d56f35241523fbab1,0.010000,Interest

In [12]:
# Example: Distinct UserTokenSnapshots from all_df
df

,block_number,timestamp,owner_address,token_symbol,token_address,token_amount,last_event
0,10214319,2022-04-20 21:59:07,0xfff59e1d0a0094b3f0c98aa93076beada38e2709,USDC,0xff970a61a04b1ca14834a43f5de4533ebddb5cc8,0.000017,Interest
1,10214319,2022-04-20 21:59:07,0xffd25c6ad9ff2495021dc38cea14758c8279301d,USDC,0xff970a61a04b1ca14834a43f5de4533ebddb5cc8,49.995831,Interest
2,10214319,2022-04-20 21:59:07,0xff12e4db86c84310754430b4002b27402a9150c7,USDC,0xff970a61a04b1ca14834a43f5de4533ebddb5cc8,-10000.000000,Interest
3,10214319,2022-04-20 21:59:07,0xfee851da79f8b502a16930a74886fb3526937c66,USDC,0xff970a61a04b1ca14834a43f5de4533ebddb5cc8,-0.000002,Interest
4,10214319,2022-04-20 21:59:07,0xfeaf9bb0cfdde88fa8e7fa4a9a0161268f5ebf15,USDC,0xff970a61a04b1ca14834a43f5de4533ebddb5cc8,6269.002202,Interest
...,...,...,...,...,...,...,...
2768,10212076,2022-04-20 21:06:27,0x52be8ac37597fc32456fc9dcd5d12a97006389ed,WETH,0x82af49447d8a07e3bd95bd0d56f35241523fbab1,0.090000,Interest
2769,10212076,2022-04-20 21:06:27,0x52999b551194406fb888fb425c88e2885911a506,WETH,0x82af49447d8a07e3bd95bd0d56f35241523fbab1,0.090000,Interest
2770,10212076,2022-04-20 21:06:27,0x5285e889c3cd2898fa57451456da532539c86fab,WETH,0x82af49447d8a07e3bd95bd0d56f35241523fbab1,0.025000,Interest
2771,10212076,2022-04-20 21:06:27,0x5279d69d3d9392bf0ce5bb37707cf08761b7a575,WETH,0x82af49447d8a07e3bd95bd0d56f35241523fbab1,0.090000,Interest
2772,10212076,2022-04-20 21:06:27,0x523ef27e2533a93b16a1621481ea2cad23651835,WETH,0x82af49447d8a07e3bd95bd0d56f35241523fbab1,0.010000,Interest